@font-face {
 
    font-weight: normal;
    font-style: normal;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
  
    /* lo que tú ya tenías */
    font-family: 'Courier';
    font-size: 24pt;
    line-height: 12pt;
  
    overflow: hidden;
  }
  
  /* ASCII – no interfiere con nada más */
  #ascii {
    white-space: pre;
    line-height: 1;
    letter-spacing: 0px;
    font-size: 12px;
    color: #000;
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  